DOWNLOADARCHIVES={{DOWNLOADARCHIVES}}
EXTRACTARCHIVES={{EXTRACTARCHIVES}}
PROFILE={{PROFILE}}
CREATESERVER={{CREATESERVER}}
CONFIGURESERVER={{CONFIGURESERVER}}
DROPDATABASE={{DROPDATABASE}}
CREATEDATABASE={{CREATEDATABASE}}
POSTCREATEDATABASE={{POSTCREATEDATABASE}}
MIGRATEDATABASE={{MIGRATEDATABASE}}
EAR={{EAR}}
CONFIG={{CONFIG}}
COPYCONFIG={{COPYCONFIG}}
UI={{UI}}
COPYUI={{COPYUI}}
ASP={{ASP}}
IMPORTRESOURCES={{IMPORTRESOURCES}}
IMPORTRATES={{IMPORTRATES}}
GENERATEPROPERTIES={{GENERATEPROPERTIES}}
REFRESHPECONFIGINDEXES={{REFRESHPECONFIGINDEXES}}
CUSTOMISECLIENTRELEASEPACKAGE={{CUSTOMISECLIENTRELEASEPACKAGE}}
